## Лабонька номер 2

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('./adult.data.csv')

In [3]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [5]:
data['occupation'].value_counts()

Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64

Средний возраст женщин:

In [6]:
data.loc[data['sex']=='Female', 'age'].mean()

36.85823043357163

Средний возраст вообще:

In [7]:
data['age'].mean()

38.58164675532078

Процент родившихся в Германии:

In [8]:
german = (data['native-country']=='Germany').sum()
al = data.shape[0]
print ("Всего:", al)
print ("Родились в Германии:", german)
print("% =", float(german)/al)

Всего: 32561
Родились в Германии: 137
% = 0.004207487485028101

Средний возраст тех, кто получает меньше/больше 50 тысяч в год

что такое средняя погрешность?

In [9]:
ages_less = data.loc[data['salary']=='<=50K', 'age']
ages_more = data.loc[data['salary']=='>50K', 'age']
print ("Средний возраст тех, кто получает менее 50 тысяч в год: {0} +- {1} лет".format(round(ages_more.mean()), round(ages_more.std(), 1)))
print ("Средний возраст тех, кто получает более 50 тысяч в год: {0} +- {1} лет".format(round(ages_less.mean()), round(ages_less.std(), 1)))

Средний возраст тех, кто получает менее 50 тысяч в год: 44.0 +- 10.5 лет
Средний возраст тех, кто получает более 50 тысяч в год: 37.0 +- 14.0 лет

Правда ли, что те, кто зарабатывают более 50 тысяч, как минимум окончили старшие классы школы?

In [11]:
data['education'].value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [15]:
eds = data.loc[data['salary']=='>50K', 'education'].unique()
eds_less = ['1st-4th ', '5th-6th', '9th', '10th']
answer = "да"
for item in eds_less:
    if item in eds:
        answer = "нет"
print ("ответ:", answer)

ответ: нет

Вывести статистику возраста для каждой расы и пола

Найти максимальный возраст мужчин Амер-Индо-эскимосской расы

In [22]:
max_age = 0;

for (race, sex), item in data.groupby(['race', 'sex']):
    print("Раса", race)
    print("Пол", sex)
    print(item['age'].describe())
    print()
    if race == 'Amer-Indian-Eskimo':
        max_age = item['age'].max()
        
print ("Mаксимальный возраст мужчин Амер-Индо-эскимосской расы:", max_age)

Раса Amer-Indian-Eskimo
Пол Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64

Раса Amer-Indian-Eskimo
Пол Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64

Раса Asian-Pac-Islander
Пол Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64

Раса Asian-Pac-Islander
Пол Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64

Раса Black
Пол Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64

Раса Black
Пол Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64

Раса Other
Пол Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64

Раса Other
Пол Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64

Раса White
Пол Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64

Раса White
Пол Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

Mаксимальный возраст мужчин Амер-Индо-эскимосской расы: 82

Узнать, среди кого доля хорошо зарабатывающих (более 50 тысяч) больше: среди женатых мужчин или среди холостых

In [23]:
data['marital-status'].value_counts()

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital-status, dtype: int64

In [35]:
married = ['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']


with_wife = data.loc[(data['sex']=='Male')&(data['marital-status'].isin(married)), 'salary'].value_counts()
no_wife = data.loc[(data['sex']=='Male')&(~data['marital-status'].isin(married)), 'salary'].value_counts()
print ("Cредние зарплаты среди женатых:\n", with_wife, "\n")
print ("Cредние зарплаты среди неженатых:\n", no_wife)

Cредние зарплаты среди женатых:
 <=50K    7576
>50K     5965
Name: salary, dtype: int64

Cредние зарплаты среди неженатых:
 <=50K    7552
>50K      697
Name: salary, dtype: int64

Найти маскимальное количество рабочих часов на человека

Сколько людей работают по столько часов и сколько среди них тех, кто зарабатывает более 50 тысяч?

In [40]:
max_hours = data['hours-per-week'].max()
workers_number = data[data['hours-per-week'] == max_hours].shape[0]
rich_part = round(float(data[(data['hours-per-week'] == max_hours) & (data['salary'] == '>50K')].shape[0])/workers_number, 2)

print ("Максимальное количество рабочих часов в неделю:", max_hours)
print ("Количество людей, работающих в таком режиме:", workers_number)
print ("Доля тех из них, кто зарабатывает более 50 тысяч:", rich_part)

Максимальное количество рабочих часов в неделю: 99
Количество людей, работающих в таком режиме: 85
Доля тех из них, кто зарабатывает более 50 тысяч: 0.29

чтобы все лабораторные были такими

Для каждой страны посчитать среднее количество рабочих часов в неделю для тех, кто зарабатывает более/менее 50-ти тысяч

In [43]:
for (country, salary), item in data.groupby(['native-country', 'salary']):
    avg_hours = round(item['hours-per-week'].mean(), 2)
    print (country, salary, avg_hours)

? <=50K 40.16
? >50K 45.55
Cambodia <=50K 41.42
Cambodia >50K 40.0
Canada <=50K 37.91
Canada >50K 45.64
China <=50K 37.38
China >50K 38.9
Columbia <=50K 38.68
Columbia >50K 50.0
Cuba <=50K 37.99
Cuba >50K 42.44
Dominican-Republic <=50K 42.34
Dominican-Republic >50K 47.0
Ecuador <=50K 38.04
Ecuador >50K 48.75
El-Salvador <=50K 36.03
El-Salvador >50K 45.0
England <=50K 40.48
England >50K 44.53
France <=50K 41.06
France >50K 50.75
Germany <=50K 39.14
Germany >50K 44.98
Greece <=50K 41.81
Greece >50K 50.62
Guatemala <=50K 39.36
Guatemala >50K 36.67
Haiti <=50K 36.33
Haiti >50K 42.75
Holand-Netherlands <=50K 40.0
Honduras <=50K 34.33
Honduras >50K 60.0
Hong <=50K 39.14
Hong >50K 45.0
Hungary <=50K 31.3
Hungary >50K 50.0
India <=50K 38.23
India >50K 46.48
Iran <=50K 41.44
Iran >50K 47.5
Ireland <=50K 40.95
Ireland >50K 48.0
Italy <=50K 39.62
Italy >50K 45.4
Jamaica <=50K 38.24
Jamaica >50K 41.1
Japan <=50K 41.0
Japan >50K 47.96
Laos <=50K 40.38
Laos >50K 40.0
Mexico <=50K 40.0
Mexico >50K 46.58
Nicaragua <=50K 36.09
Nicaragua >50K 37.5
Outlying-US(Guam-USVI-etc) <=50K 41.86
Peru <=50K 35.07
Peru >50K 40.0
Philippines <=50K 38.07
Philippines >50K 43.03
Poland <=50K 38.17
Poland >50K 39.0
Portugal <=50K 41.94
Portugal >50K 41.5
Puerto-Rico <=50K 38.47
Puerto-Rico >50K 39.42
Scotland <=50K 39.44
Scotland >50K 46.67
South <=50K 40.16
South >50K 51.44
Taiwan <=50K 33.77
Taiwan >50K 46.8
Thailand <=50K 42.87
Thailand >50K 58.33
Trinadad&Tobago <=50K 37.06
Trinadad&Tobago >50K 40.0
United-States <=50K 38.8
United-States >50K 45.51
Vietnam <=50K 37.19
Vietnam >50K 39.2
Yugoslavia <=50K 41.6
Yugoslavia >50K 49.5

та-дам